/* ********** RESET ********** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%; }
	
/*body	{ }*/
ol, ul  { list-style: none; }

:focus  { outline: 0; }
/* ********** RESET ********** */






body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px; line-height:20px;
	color:#252525; 
	text-align: left; 
	margin:0px; padding:0px;  
	background: #e5e5e5;
	}
	
#wrapper {
	width: 800px;
	margin: 55px auto;
	}
	
#header, #html, #css, #javascript, #sources, #fonts , #php {
	background: #ffffff;
	margin-bottom: 50px;
	}
	
.row {
	overflow: hidden;
	height: auto;
	}
	
.row .inner {
	padding: 35px 25px;
	}
	
.row .inner img {
	border: 1px solid #CCC;
	}
	
.row .inner p {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	}
	
.line_1 {
	width: 100%;
	height: 1px;
	background: #d9d9d9;
	}
	
.meta {
	float: left;
	width: 250px;
	background: #f7f7f7;
	border-right: 1px solid #d9d9d9;
	padding: 30px 20px;
	}
	
.urls {
	float: left;
	width: 449px;
	padding: 22px 20px;
	}
	
ol {
	list-style: decimal;
	padding-left: 40px;
	margin-top: 10px;
	}
	
ul {
	list-style: disc;
	padding-left: 40px;
	margin-top: 10px;
	}
	
.title {
	background: #d8f7ff;
	border: 1px solid #2bade5;
	margin: 0 center;
	padding: 5px 20px;
	color: #47667c;
	}
	
span.red {
	font-weight: bold;
	color: #d31000;
	}
	
	
	
	
	
/* HEADER TAGS */
h1 {
	font-size: 35px; line-height: 45px;
	}
	
h2 {
	font-size: 30px; line-height: 40px;
	}
	
h3 {
	font-size: 26px; line-height: 38px;
	}
	
h4 {
	font-size: 22px; line-height:28px; font-style: italic;
	border-bottom: 1px dotted #d9d9d9;
	padding-bottom: 3px;
	margin-bottom: 6px;
	}
	
h5 {
	font-size: 18px; line-height:24px; font-style: italic;
	border-bottom: 1px dotted #d9d9d9;
	padding-bottom: 3px;
	margin-bottom: 6px;
	}
	
h1 i, h2 i, h3 i, h4 i, h5 i {	font-size: 0.8em;	}

i { font-size: 11px; }

/* Links */
a { 
	color: #47667c;
	text-decoration: none;
	}
	
a:hover {
	text-decoration: underline;
	}